.relay{
    display: flex;
    flex-direction: column;
    width: 10em;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);

    cursor: pointer;
    user-select: none;

    .header {
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    .on {
        text-shadow: 0 0 5px #009c00, 0 0 15px #00ff00;
      
    }
    .off {
        text-shadow: 0 0 5px #9c0000;
    }

    .body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 3em;
        align-items: flex-start;
        padding: 0.5em;
    }
}